{% extends 'layout.html' %}

{% block title %}
Детальніше про клієнта
{% endblock %}

{% block content %}
<h1>Про клієнта</h1>

<div>
    <h2>Ім'я: {{ client.name }}</h2>
    <p>Прізвище: {{ client.surname }}</p>
    <p>Номер телефону: {{ client.phone }}</p>
    <p>Електронна пошта: {{ client.email }}</p>
    <p>Пароль: {{ client.password }}</p>
    <!--<a href="{{client.id}}/update">Оновити дані клієнта</a><br><br>!-->
    <a href="{{client.id}}/delete">Видалити акаунт</a>
</div>
<br>

{% endblock %}
